<main role="main" class="">
  <%= if get_flash(@conn, :info) do %>
    <p class="text-sm text-center py-2 text-blue-400 shadow" role="alert"><%= get_flash(@conn, :info) %></p>
  <% end %>

  <%= if get_flash(@conn, :error) do %>
    <p class="text-sm text-center py-2 text-red-400 shadow" role="alert"><%= get_flash(@conn, :error) %></p>
  <% end %>

  <%= @inner_content %>
</main>
