/* This file is for your main application css. */
@import "tailwind.scss";

/* LiveView specific classes for your customizations */
.phx-click-loading {
  cursor: wait;
  transition: opacity 1s ease-out;
}
.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

/* Model style*/

/* version 1 */
.sortable-ghost {
  /* > * { @apply hidden } */
  @apply h-full py-0 border border-green-600 border-dashed -my-px
}
/* version 2 */
/*.sortable-ghost {
  @apply py-0 border border-gray-700 border-dashed
}*/
.sort-handle [phx-click="add_field"] { @apply hidden }
.sort-handle.sortable-selected,
.sort-handle.sortable-selected-s {
  > details > summary [phx-click="add_field"] { @apply inline }
}
.sortable-selected,
.sortable-selected-s {
  /* leaf node highlight */
  > div {
    @apply bg-gray-600 bg-opacity-25
  }

  /* folder node highlight */
  > details > summary > .dragover-hl {
    @apply bg-gray-700 bg-opacity-25
  }

  /* folder's body highlight */
  > details {
    @apply bg-gray-800 bg-opacity-25
  }
}

textarea { resize: none; }
details > summary::-webkit-details-marker {
  display: none;
}
details > summary {
  outline: none;
  .close-marker { display: flex; }
  .open-marker { display: none; }
}
details[open] > summary {
  .close-marker { display: none; }
  .open-marker { display: flex; }
}

/* General style */

/* input { @apply outline-none; } */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

/*
[contenteditable=true] {
  margin-bottom: -2px;
  @apply border-b-2 border-green-500
}
[contenteditable=true]:focus {
  @apply outline-none
}
*/


/* Utilities */
.stripe-gray {
  --bg-opacity: .9;
  --gray-700: rgba(74, 85, 104, var(--bg-opacity));
  --gray-800: rgba(45, 55, 72, var(--bg-opacity));
  --gray-900: rgba(26, 32, 44, var(--bg-opacity));

  background: linear-gradient(
    to bottom,
    var(--gray-700),
    var(--gray-700) 50%,
    var(--gray-800) 50%,
    var(--gray-800)
  ),
  linear-gradient(to left, var(--gray-700) 0%, var(--gray-700) 100%);
  background-blend-mode: multiply;
  background-size: 100% 3rem;
}
.bg-dark-gray {
  --bg-opacity: .9;
  --gray-700: rgba(74, 85, 104, var(--bg-opacity));
  --gray-800: rgba(45, 55, 72, var(--bg-opacity));
  --gray-900: rgba(26, 32, 44, var(--bg-opacity));

  background: linear-gradient(
    to bottom,
    var(--gray-800),
    var(--gray-800) 50%,
    var(--gray-800) 50%,
    var(--gray-800)
  ),
  linear-gradient(to left, var(--gray-700) 0%, var(--gray-700) 100%);
  background-blend-mode: multiply;
  background-size: 100% 3rem;
}
