/* This file is for your main application css. */
@import "tailwind.scss";
@import "model_view.scss";

/* LiveView specific classes for your customizations */
.phx-click-loading {
  cursor: wait;
  transition: opacity 1s ease-out;
}
.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

textarea { resize: none; }
details > summary::-webkit-details-marker { display: none; }
details > summary {
  outline: none;
  display: flex;
  .close-marker { display: flex; }
  .open-marker { display: none; }
}
details[open] > summary {
  .close-marker { display: none; }
  .open-marker { display: flex; }
}

[aria-selected="true"] {
  @apply border-pink-500
}

/* General style */

/* input { @apply outline-none; } */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

/*
[contenteditable=true] {
  margin-bottom: -2px;
  @apply border-b-2 border-green-500
}
[contenteditable=true]:focus {
  @apply outline-none
}
*/


/* Utilities */
.stripe-gray {
  --bg-opacity: .9;
  --gray-700: rgba(74, 85, 104, var(--bg-opacity));
  --gray-800: rgba(45, 55, 72, var(--bg-opacity));
  --gray-900: rgba(26, 32, 44, var(--bg-opacity));

  background: linear-gradient(
    to bottom,
    var(--gray-700),
    var(--gray-700) 50%,
    var(--gray-800) 50%,
    var(--gray-800)
  ),
  linear-gradient(to left, var(--gray-700) 0%, var(--gray-700) 100%);
  background-blend-mode: multiply;
  background-size: 100% 3rem;
}
.bg-dark-gray {
  --bg-opacity: .9;
  --gray-700: rgba(74, 85, 104, var(--bg-opacity));
  --gray-800: rgba(45, 55, 72, var(--bg-opacity));
  --gray-900: rgba(26, 32, 44, var(--bg-opacity));

  background: linear-gradient(
    to bottom,
    var(--gray-800),
    var(--gray-800) 50%,
    var(--gray-800) 50%,
    var(--gray-800)
  ),
  linear-gradient(to left, var(--gray-700) 0%, var(--gray-700) 100%);
  background-blend-mode: multiply;
  background-size: 100% 3rem;
}
