/* semantics */
.sort-handle {
  .h/*eader*/ { @apply flex w-full }
  .k/*ey*/ { @apply flex flex-wrap }
  .t/*ype*/ {
    min-width: 5ch;
    @apply inline
  }
}
.model_number {
  > .sort-handle { @apply flex relative }
  > .sort-handle > * { @apply w-full }

  counter-reset: model;
  > nav::before {
    counter-increment: model;
    content: "#" counter(model);
    @apply absolute text-xs leading-6 mx-4 text-gray-600
  }
}

/* highlight */
.sortable-selected {
  /* leaf node */
  @apply bg-gray-800 bg-opacity-50;
  /* folder node */
  > details > summary > div { @apply bg-gray-700 bg-opacity-50 }
  /* folder's body */
  > details > ul { @apply bg-gray-900 bg-opacity-50 }
}
/* highlight DnD */
.sortable-ghost { @apply h-full py-0 border border-green-600 border-dashed -my-px -ml-px }
.sortable-drag { @apply flex list-none }

/* Function - Add */
[data-group='root'] {
  > .sort-handle { @apply bg-dark-gray py-4 shadow w-full scroll-mt-4 }
  .sort-handle [phx-click="add_field"] { @apply hidden }
  .sort-handle.sortable-selected.multi {
    > details > summary [phx-click="add_field"] { @apply hidden }
  }
  .sort-handle.sortable-selected {
    > details > summary [phx-click="add_field"] { @apply inline }
  }
}
/* Function - Change type */
.tippy-content {
  @apply p-2 bg-gray-100 rounded shadow-xl text-gray-900
}
.autoComplete_result { @apply border border-transparent px-2 py-1 }
.autoComplete_selected.notfound { @apply rounded border-gray-400 bg-gray-200 }
.autoComplete_selected { @apply rounded border-pink-400 bg-pink-100 }
.autoComplete_highlighted { @apply text-pink-500 font-semibold }
