/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

.grid-cols-fit {
  /* 374 = 768(md) / 2 */
  grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
}
.grid-cols-fit > * {
  @apply border-r border-gray-900;
}
.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.content-invisible { content-visibility: hidden; }
.content-visible { content-visibility: visible; }
.content-vis-auto { content-visibility: auto; }
.scroll-smooth {
  --scroll-behavior: smooth;
  scroll-behavior: var(--scroll-behavior);
}
