/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

.grid-cols-fit {
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
}
.grid-cols-fit > * {
  @apply border-r border-gray-900;
}
.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.content-invisible { content-visibility: hidden; }
.content-visible { content-visibility: visible; }
.content-vis-auto { content-visibility: auto; }
