<span class="absolute left-0 text-gray-800 leading-none opacity-25" style="font-size: 40rem; z-index: -1">[</span>
<span class="absolute right-0 text-gray-800 leading-3 opacity-25" style="font-size: 40rem; z-index: -1">}</span>
